<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StitchingApp"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Save_Activity"
            android:exported="false" />
        <activity
            android:name=".Person_Activity.EditProfile_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Top_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Plaza_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Shorty_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.BabySkirt_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.BarbieFrock_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.OnePiece_Activity"
            android:exported="false" />
        <activity
            android:name=".Splash_Activity"
            android:theme="@style/mainactivitytheame"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity.VerifyOtp_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity.SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity.SignIn_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/mainactivitytheame"
            android:exported="false" />
    </application>

</manifest>